<h1>
  Buscando: <small>{{ termino }}</small>
</h1>

<div class="row" *ngIf="heroes.length === 0">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">No hay resultados</h4>
      <p>Prueba con otro termino de busqueda</p>
      <hr />
      <p class="mb-0">No hay resultados</p>
    </div>
  </div>
</div>
<div class="card-group">
  <app-heroe-tarjeta
    *ngFor="let heroe of heroes"
    class="animated fadeIn fast"
    [heroe]="heroe"
    [idx]="heroe.idx || 0"
  ></app-heroe-tarjeta>
</div>
